.card-my-reservations {
    width:100%;
    height:216px;
    margin-top:40px;
    vertical-align: middle;
    background: white;
    box-shadow: 3px 3px 5px 2px rgba(220, 220, 220, .6);
}

.card-my-reservations-img {
    float:left;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height:216px;
    text-align: left;
    vertical-align: middle;
    color:black;
}

.first_line {
    width:70%;

.card-my-reservations-txt {
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;
    padding-top:15px;
    width:50%;
        height:216px;
    text-align: left;
    vertical-align: top !important;
    color:black;
    border: black 10px;
    background-color: $info;
    padding: 15px;
}

.card-my-reservations-status {
    float:right;
    width:20%;
    text-align: right;
    vertical-align: top;
        height:216px;
    font-size: 20px;
    color:green;
    border: black 10px !important;
}
}
.card-my-reservations-owner {
    float:right;
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;
    padding-top:15px;
        height:216px;
    width:50%;
    text-align: right;
    vertical-align: bottom !important;
    border: black 10px;
}
