<div class="container">
  <h2 class="text-center"> Louez votre espace de Barbecue en famille ou entre amis, entre particuliers ou professionnels</h1>
</div>
<div class="babouchka text-white">
<div>
  <h1>WELCOME TO</h1>
  <h1>THE SPACE BARBECUE</h1>
  <%= link_to ">>>> Enter <<<<", barbecues_path, class: "btn btn-primary" %>
  </div>
</div>
